.order {
  background: #ffff;
  padding-top: 128px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 64px;
  .orderWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    .orderInput{
      width: 50%;
  
    }

    h3 {
      color: #023524;
      font-size: 32px;
      font-family: 'Charis SIL', sans-serif !important;
      font-weight: 400;
    }
    form {
      display: flex;
      flex-direction: column;
      .orderTitle {
        font-family: 'Charis SIL', sans-serif !important;
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        line-height: 0px;
      }
      div {
        width: 100%;
      }
      .contactInput {
        div {
          input {
            width: 100%;
            height: 60px;
            padding-left: 16px;
          }
        }
      }
      .deliveryInput {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 20px;
        div {
          position: relative;
          p {
            position: absolute;
            left: 12px;
            top: -7px;
            font-size: 12px;
            color: #023524;
          }
          select {
            width: 103%;
            height: 60px;
            border: 1px solid #91a29b40;
            outline: none;
            padding-left: 12px;
          }
        }
      }
      .userInfo {
        display: flex;
        gap: 36px;
        margin-bottom: 20px;
        div {
          input {
            width: 100%;
            height: 60px; 
            padding-left: 16px;
       
          }
        }
      }
      .city{
             display: flex;
                margin-bottom: 20px;
                gap: 36px;
        div {
          input {
            width: 100%;
            height: 60px;
              padding-left: 16px;
          }
        }
      }
      .company {
                margin-bottom: 20px;
        div {
          input {
            width: 100%;
            height: 60px;
             padding-left: 16px;
          }
        }
      }
      .adress {
        position: relative;
                margin-bottom: 20px;
        img {
          position: absolute;
          top: 50%;
          right: 0;
          cursor: pointer;
          transform: translate(-50%, -50%);
        }
        div {
          input {
            width: 100%;
            height: 60px;
              padding-left: 16px;
          }
        }
      }
      .appartment {
                margin-bottom: 20px;
        div {
          input {
            width: 100%;
            height: 60px;
              padding-left: 16px;
          }
        }
      }
      .saveOrder {
        display: flex;
        align-items: center;
        flex-direction: column;
        label {
          display: block;
          position: static;
        }
        .checkboxWrapper {
          position: relative;
          display: flex;
          align-items: center;

          width: 24px;
          height: 24px;

          // сам чекбокс – делаем его невидимым, но оставляем размер кликабельным
          input {
            position: absolute;
            top: 0;
            left: 0;
              padding-left: 16px;
            width: 100%;
            height: 100%;
            opacity: 0;
            margin: 0;
            cursor: pointer;
            z-index: 2;
          }

          // обводка и фон
          .checkmark {
            position: relative;
            width: 100%;
            height: 100%;
            background: white;
            border: 2px solid #023524;
            border-radius: 4px;

            // центрируем «галочку» при checked
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none; // чтобы клики проходили до input

            &::before {
              content: '';
              font-size: 16px;
              display: none;
            }
          }

          // когда input.checked — меняем фон и показываем галочку
          input:checked + .checkmark {
            background-color: none;

            &::before {
              content: '✔';
              display: block;
              color: #023524;
            }
          }
        }
        h5 {
          margin-left: 15px;
          color: #000000;
          line-height: 0px;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Optima', sans-serif !important;
        }

        div {
          display: flex;
          align-items: center;
        }
      }
      .methodDelivery {
        border: 1px solid #91A29B40;
        padding-left: 16px;
        .methodWrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
          div{
            display: flex;
            align-items: center;
            gap: 12px;
            h4{
              font-weight: 400;
              font-size: 16px;
              font-family: 'Optima', sans-serif !important;
              color: #000000;
            }
     .customCheckbox {
  input {
    display: none;

    &:checked + .checkmark2::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 10px;
      height: 10px;
      background-color: #000;
    }
  }

  .checkmark2 {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
  }
}

          }
          h5{
            width: 70px;
            font-family: 'Optima',sans-serif !important;
            font-weight: 400;
            font-size: 16px;
            color: #000000;
          }
        

        }
      
      }
      .payment{
        display: flex;
        flex-direction: column;
        gap: 12px;
        div{
          input{
            width: 100%;
            height: 60px;
            padding-left: 20px;
          }
        }
        .date{
          display: flex;
           
        gap: 40px;
         div {
          input {
            width: 100%;
            height: 60px;
          }
        }
        }
          .carts {
        border: 1px solid #91A29B40;
        padding-left: 16px;
        padding-right: 16px;
        .methodWrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
          div{
            display: flex;
            align-items: center;
            gap: 12px;
            h4{
              font-weight: 400;
              font-size: 16px;
              font-family: 'Optima', sans-serif !important;
              color: #000000;
            }
     .customCheckbox {
  input {
    display: none;

    &:checked + .checkmark2::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 10px;
      height: 10px;
      background-color: #000;
    }
  }

  .checkmark2 {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
  }
}

          }
          h5{
            width: 70px;
            font-family: 'Optima',sans-serif !important;
            font-weight: 400;
            font-size: 16px;
            color: #000000;
          }
        

        }
      
      }
      }
    }
    .orderSummary{ 
      width: 30%;
   
      height: fit-content;
      .orderSummaryWrapper{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .orderSummaryItem{
          display: flex;
          justify-content: space-between;
          align-items: center;
          div{
            display: flex;
            gap: 15px;
               .orderSummaryInfo{
                display: flex;
                flex-direction: column;
               
          h2{
            color: #000000; 
            font-family: 'Optima', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 0px;
          }
          p{
            line-height: 0px;
          }
         }

          }
      
          
        }
        .orderSummaryTotal{
          margin-top: 24px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          h5{
            color: #000000; 
            font-family: 'Optima', sans-serif;
            font-weight: 400;


          }
          p{
            color: #91A29B;
            font-size: 14px;
          }
        }
        .orderSummaryDelivery{
          height: 25px;
   display: flex;
          align-items: center;
          justify-content: space-between;
          h5{
            color: #000000; 
            font-family: 'Optima', sans-serif;
            font-weight: 400;


          }
          p{
            color: #91A29B;
            font-size: 14px;
          }
        }
        .finalPrice{
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5{
            font-size: 20px;
            font-family: 'Charis SIL', sans-serif !important;
            color: #000000;
               font-weight: 400;
          }
          p{
            font-size: 20px;
            color: #023524;
                 font-family: 'Charis SIL', sans-serif !important;
                 font-weight: 400;

          }
        }
        .orderSummaryBtn{
          background: #023524;
          font-size: 20px;
          color: #F9F6E3;
          font-family: 'Optima', sans-serif;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
    
  }

  @media (max-width: 900px) {

    .orderInput{
      width: 80%;
    }


  }

 
  }
    @media (max-width: 540px) {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 64px;
   .orderWrapper{
  
    flex-direction: column;
    .orderInput{
      width: 100%;
    }
    form {
      div{
        width: 100%;
      }
      .payment{
        width: 90%;
      }
      .methodDelivery{
        width: 95%;
      }
      .saveOrder{
       width: 100%;
      }
     
    }
    .orderSummary{
      width: 100%;
    }
   }
   }   

  
}

