.cart-popup {
  width: 454px;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  right: 0;
  top: 73px;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 32px;
  transform: translate(100%);
  transition: 0.4s ease-in-out;
  .cart__wrapper {
    margin: 0 auto;
    .cart__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #91a29b1a;
      padding-left: 32px;
      padding-right: 32px;

      h3 {
        font-family: 'Charis SIL', sans-serif !important;
        font-size: 24px;
        font-weight: 400;
        color: #000000;
      }
      .cart__close {
        cursor: pointer;
      }
    }
    .delivery__info {
      padding-left: 32px;
      border-bottom: 1px solid #91a29b1a;
      p {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Optima', sans-serif;
        color: #023524;
        span {
          color: #91a29b;
        }
      }
    }
    .cart__list {
      display: flex;
      flex-direction: column;

      width: 85%;
     height: 62vh;
     overflow-y: scroll;
      margin: 0 auto;
      padding-top: 23px;
      .cart__item {
        display: flex;

        gap: 20px;
        .cart__info {
          .cart__info_heading {
            color: #023524;
            font-family: 'Optima', sans-serif;
            font-size: 16px;
            font-weight: 400;
          }
          .cart__info_title {
            color: #000000;
            font-size: 20px;
            font-family: 'Optima', sans-serif;
          }
          .cart__info_price {
            font-size: 16px;
            color: #91a29b;
          }
          .cart__info_size {
            font-size: 16px;
            color: #91a29b;
          }
          .cart__order_wrapper{
            display: flex;
            align-items: center;
            gap: 12px;
               .cart__counter {
                
                width: 100px;
                height: 44px;
                border: 1px solid #91A29B40 !important;

                display: flex;
                align-items: center;
                justify-content: space-around;
                .cart__counter_number{
                  display: block;
                }
            button {
              background: none;
              border: none;
              font-size: 18px;
              cursor: pointer;
            }
            span{
              font-size: 18px;
            }
          }
          .cart__delete{
            border-bottom: 1px solid black;
            color: #000000;
            cursor: pointer;
          }

          }
       
        }
      }
    }
    .cart__btn{
      width: 80%;
      height: 56px;
      background: #023524;
      border: none;
      color: #F9F6E3;
      text-align: center;
      margin-left: 50%;
      transform: translate(-50%);
      margin-top: 24px;
    }
  }
  @media screen and (max-width: 540px){
    width: 100%;
    .cart__wrapper{
      .cart__top{
        h3{
          font-size: 20px;
        }
      }
      .cart__list{
        width: 90%;
        .cart__item{
          .cart__info{
            .cart__info_heading{
              font-size: 14px;
            }
            .cart__info_title{
              font-size: 16px;
            }
          }
         
        }
      }
    }
  }
  // transform: translateX(100%);
}

.cart-active{
  transform: translate(0%);
}
